
/* body */


html {
  scroll-behavior: smooth;
}
body{

    font-family: 'Montserrat';}
    

h1{

  font-size: 40px;
}

h2{

  font-size: 25px;
}

p{

  font-size: 12px;
}

.navbar-expand-lg{

  font-size: 14px;
}

/* accueil*/

#about{

    background: rgb(250, 233, 218);
}

.profile-picture{

    float: none;
}

.button1{
  color: rgb(46, 46, 46);
    font-weight: bold;
    border: 1px solid rgb(51, 51, 51);
    display: inline-block;
    border-radius: 3px;
    transition:  all 0.3s ease-in 0s;

}

.button1:hover{

    background: white;
    color: rgb(48, 48, 48);
    text-decoration: none;
    
}

/* A PROPOS */

#a-propos{

  padding-top: 150px;
  padding-bottom: 150px;
}

.folio{

  color: white;
}

.folio:hover{

  color:rgb(250, 233, 218);
  text-decoration: none;
}
/* compétences */

#skills{
    
  background: rgb(250, 233, 218);
     
}
#skills .progress{

    height: 20%;
    backface-visibility: #fff;
      
}

/* timeline */
.timeline{

  width:  90%;
  margin: auto;
}

.timeline .timeline-wrapper .timeline-panel {
  border-radius: 2px;
  padding: 20px;
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
  width: 60%;

}

.timeline .timeline-wrapper .timeline-panel:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  content: "";
  left: 0;
  right: 0;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel {
  margin-left: auto;
  margin-right: 5%;

}

.timeline-wrapper-success .timeline-panel:before {
  background: #0ddbb9;
}

.timeline-wrapper-info .timeline-panel:before {
  background: #0ad7f7;
}

.timeline-wrapper-warning .timeline-panel:before {
  background: rgb(240, 223, 208);
}

.timeline-wrapper-danger .timeline-panel:before {
  background: #ef5958;
}

@media screen and (max-width:500px){
.timeline{

  width:  100%;
  margin: auto;
  margin-left: 20px;
}
}

/* diplôme */

#education{

  background: rgb(240, 223, 208);
 
}

.education-block{

    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background:white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 60px;
}


.education-block .glyphicon{

    font-size: 30px;

}

.education-block H3{

    color:  rgb(34, 34, 34);
}


/* portfolio */

#portfolio .thumbnail img:hover{

  filter: none;
  -webkit-filter: none;
}



#portfolio .thumbnail img{

  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
/* footer */

.footer {

  background: rgb(240, 223, 208);
  color: rgb(39, 39, 39);
}